<div id="goaway">Please come back on a mobile device!</div>
<nav class="navbar navbar-white navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header clearfix">
      <% if(req.user === undefined){ %>
        <a class="navbar-brand" href="/"><img src="/images/uframe-logo-120px.png" id="navbar-logo"/></a>
        <a id="login" href="#">Login</a>
        <form id="login_form" method="post" action="/login">
          <div class="login_form_fieldname">Username:</div> <input class="login_form_field" type="text" name="username"> <br>
          <div class="login_form_fieldname">Password:</div> <input class="login_form_field" type="password" name="password"> <br>
          <input id="login_form_button" type="submit" value="Login" >
          <div id="login_form_signuptext">No account? <a id="signup" href="/signup">Sign Up!</a></div>
        </form>
      <% } else { %>
        <a class="navbar-brand" href="/feed"><img src="/images/uframe-logo-120px.png" id="navbar-logo"/></a>
        <a class="UserNav"> <%= req.user.user %> </a>
        <a class='UserNav' href='/logout'>Log Out</a>
      <% } %>
    </div>
  </div>
</nav>
