@import 'vars';

.feed-frame {
  padding-bottom: 16px;
  border-bottom: 1px solid $border-gray;
  margin-bottom: 16px;
  background-color: white;
}
.titlebar {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0;
  font-size: 12px;
  img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .info {
    padding: 0 0 0 6px;
    float: left;
    p {
      margin: 2px 0;
    }
    .bold {
      font-weight: 700;
      color: $dark-gray;
    }
    .grayed {
      color: #a5a5a5;
    }
  }
  .time {
    margin: 2px 0 0 0;
    float: right;
    color: #a5a5a5;
  }
}
.frame {
  width: 100%;
  height: auto;
  margin: 0;
  img {
    width: 100%;
    height: auto;
  }
}