@import 'vars';

#goaway {
  display: none;
}
.main {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 80px;
}


/********************/
/**** Navbar CSS ****/
/********************/
.navbar-white {
  background-color: white;
  border-bottom: 1px solid $border-gray;
  .navbar-brand {
    padding: 4px 0;
    #navbar-logo {
      height: 42px;
      margin: 0;
      padding: 0;
      width: auto;
    }
  }
  .navbar-header {
    float: none;
  }
  #login {
    float: right;
    background-color: white;
    width: 64px;
    height: 32px;
    color: $uframe-red;
    border: 1px solid $uframe-red;
    border-radius: 2px;
    margin: 9px 9px 0 0;
    font-size: 12px;
    padding: 7px 16px;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  .UserNav {
    float: right;
    background-color: white;
    width: 64px;
    height: 32px;
    color: $uframe-red;
    border: 1px solid $uframe-red;
    border-radius: 2px;
    margin: 9px 9px 0 0;
    font-size: 12px;
    text-align: center;
    padding: 7px 9px;
    text-wrap: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  .pressed {
    background-color: $uframe-red !important;
    color: white !important;
    text-decoration: none;
  }
  #login_form {
    display: none;
    position: fixed;
    top: 39px;
    right: 9px;
    width: 100%;
    height: 158px;
    background-color: white;
    border: 1px solid $uframe-red;
    border-radius: 2px;
    padding: 8px 10px;
    max-width: 250px;
    .login_form_fieldname {
      font-size: 10px;
      font-weight: 400;
      color: $dark-gray;
    }
    .login_form_field {
      height: 28px;
      width: 100%;
      border-radius: 0;
      font-size: 14px;
      padding: 0px 6px;
      color: $dark-gray;
      border: 1px none $uframe-red;
      border-bottom-style: solid;
      margin-bottom: 12px;
    }
    #login_form_button {
      float: right;
      background-color: $uframe-red;
      border: none;
      border-radius: 2px;
      color: #FFF;
      text-shadow: none;
      padding: 7px 14px 6px 14px;
      font-size: 12px;
    }
    #login_form_signuptext {
      float: left;
      font-size: 10px;
      margin-top: 8px;
      #signup {
        color: $uframe-red;
        &:hover, &:focus, &:active {
          color: $uframe-red;
        }
      }
    }
  }
}

/************************/
/**** Bottom Nav CSS ****/
/************************/
.bottom-nav {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: white;
  border-top: 1px solid $border-gray;
  padding: 0;
  margin: 0;
  .inner {
    width: 100%;
    text-align: center;
    .buttons {
      .button-nav {
        width: 48px;
        height: 40px;
        background-color: white;
        margin: 11px 1px 1px 0;
        padding-top: 12px;
        display: inline-block;
        overflow: hidden;
        font-size: 10px;
        color: $uframe-red;
        vertical-align: top;
        border: 1px solid $border-gray;
        border-radius: 2px;
        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
      .button-nav-upload {
        width: 56px;
        height: 56px;
        background-color: $uframe-red;
        padding-top: 21px;
        margin: 3px 1px 1px 0;
        display: inline-block;
        overflow: hidden;
        font-size: 10px;
        color: white;
        border-radius: 28px;
        vertical-align: top;
        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .container {
    display: none !important;
  }
  #goaway {
    display: block !important;
    font-size: 32px;
    margin: 70px auto 0 auto;
    color: $uframe-red;
  }

}