@import 'vars';

.container {
  padding-left: 0;
  padding-right: 0;
}
.main {
  padding-bottom: 0;
  padding-top: 51px;
  background-color: $uframe-red;
}
.navbar {
  padding: 0 5%;
}

.lead{
  color: white;
}

.jumbotron{
  background-color: $uframe-red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 0 !important;
  margin-bottom: 0;
  .title_left{
    color: white;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .title_right{
    color: white;
    font-size: 18px;
    text-align: right;
    margin-top: 14px;
  }
}

#homepage_signup_button {
  width: 100%;
  max-width: 240px;
  border: 1px solid #BAC6DD;
  border-radius: 2px;
  color: #BAC6DD;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  display: block;
  text-align: center;
  padding: 2%;
  margin: 0 auto;
  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: rgba(186, 198, 221, 0.33);
    color: #cbd8f0;
  }
}

#section0 {
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .embed-responsive {
      margin: 4.5% 5% 0 5%;
      padding-bottom: 50.75%;
    }
  }
}

#section1 {
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  .img-inner {
    position: absolute;
    top: 0;
    left: 45%;
    width: 100%;
    max-width: 55%;
    padding: 17% 5% 5% 5%;
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
  }
}

#section2 {
  position: relative;
  margin-top: 8px;
  img {
    width: 100%;
    display: block;
  }
  .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12% 10%;
    color: #FFF;
    font-size: 12px;
  }
}

#section3 {
  position: relative;
  margin-top: 8px;
  img {
    width: 100%;
    display: block;
  }
  .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    color: #FFF;
    font-size: 12px;
  }
}

@media all and (max-width: 420px) {
  #section1 {
    .img-inner {
      font-size: 14px;
    }
  }
}

@media all and (min-width: 421px) and (max-width: 767px) {
  #section1 {
    .img-inner {
      font-size: 20px;
    }
  }
}

@media all and (min-width: 421px) and (max-width: 511px) {
  #section2 {
    .img-inner {
      font-size: 15px;
    }
  }
}

@media all and (min-width: 512px) {
  #section2 {
    .img-inner {
      font-size: 18px;
    }
  }
}

@media all and (min-width: 768px) {
  #section1 {
    .img-inner {
      font-size: 32px;
    }
  }
  #section2 {
    .img-inner {
      padding-top: 18%;
      padding-bottom: 18%;
    }
  }
}