@import 'vars';

.content{
  text-align: center;
}

.jumbotron{
  color: white;
  background-color: $uframe-red;
  padding-top: 4px;
}

.table-striped{
  font-size: 18px;
  color: white;
  background-color:#F65A5A ;
  border:none;
  border-bottom:0px;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color:$uframe-red;
  border-color:$uframe-red;



}
