@import 'vars';

.profile-header {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 6px;
  .profile-picture {
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 1.5% 1.5% 1.5% 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .profile-description {
    margin: 4% 0 0 6px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    .username {
      font-size: 18px;
      font-weight: 700;
    }
    .desc {
      margin-top: 10px;
      font-size: 11px;

    }
  }
}
.profile-frames {
  width: 100%;
  text-align: left;
  .header {
    width: 100%;
    height: 24px;
    font-size: 16px;
    color: $dark-gray;
    border-bottom: 1px solid $border-gray;
    margin-bottom: 6px;
  }
  .frame-container {
    float: left;
    width: 48%;
    margin: 1%;
    .frame {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

}