@import 'vars';

.content {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  border: 2px solid;
}

.header {
  color: $uframe-red;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2px;
}
.form-group {
  label {
    font-size: 11px;
    font-weight: 400;
  }
  input {

  }
}
.signupContainer{
  background-color: white;
  margin: 0 auto;
  padding: 4px;
  max-width: 700px;
}


.congrats{
  text-align: center;
}

.btn-default {


  background-color: #E14F4F;
  color: white;
}

.btn-default:active{
  background-color:$uframe-red;
  color:white;

}


.btn-default:hover{

  background-color:$uframe-red ;
  color: white;
}
