/****************/
/**** Colors ****/
/****************/
.feed-frame {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 16px;
  background-color: white; }

.titlebar {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0;
  font-size: 12px; }
  .titlebar img {
    width: 40px;
    height: 40px;
    float: left; }
  .titlebar .info {
    padding: 0 0 0 6px;
    float: left; }
    .titlebar .info p {
      margin: 2px 0; }
    .titlebar .info .bold {
      font-weight: 700;
      color: #5B5B5B; }
    .titlebar .info .grayed {
      color: #a5a5a5; }
  .titlebar .time {
    margin: 2px 0 0 0;
    float: right;
    color: #a5a5a5; }

.frame {
  width: 100%;
  height: auto;
  margin: 0; }
  .frame img {
    width: 100%;
    height: auto; }
