/****************/
/**** Colors ****/
/****************/
.matches {
  padding: 2.5%; }
  .matches .match {
    margin: 8% 0; }
    .matches .match .matchimg {
      width: 60%;
      display: inline-block;
      vertical-align: top; }
    .matches .match .scoring {
      display: inline-block;
      font-size: 48px;
      vertical-align: middle;
      margin-left: 14%;
      margin-top: 0; }
      .matches .match .scoring .upvote {
        padding-left: 4px;
        color: #e13333; }
      .matches .match .scoring .downvote {
        color: #e13333; }
      .matches .match .scoring .score {
        margin-top: -20px;
        margin-bottom: -9px;
        padding-left: 11px; }

@media all and (min-width: 400px) and (max-width: 549px) {
  .scoring {
    margin-top: 7% !important; }
 }

@media all and (min-width: 550px) and (max-width: 9999px) {
  .scoring {
    margin-top: 15% !important; }
 }
