/****************/
/**** Colors ****/
/****************/
.container {
  padding-left: 0;
  padding-right: 0; }

.main {
  padding-bottom: 0;
  padding-top: 51px;
  background-color: #e13333; }

.navbar {
  padding: 0 5%; }

.lead {
  color: white; }

.jumbotron {
  background-color: #e13333;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 0 !important;
  margin-bottom: 0; }
  .jumbotron .title_left {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 14px; }
  .jumbotron .title_right {
    color: white;
    font-size: 18px;
    text-align: right;
    margin-top: 14px; }

#homepage_signup_button {
  width: 100%;
  max-width: 240px;
  border: 1px solid #BAC6DD;
  border-radius: 2px;
  color: #BAC6DD;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  display: block;
  text-align: center;
  padding: 2%;
  margin: 0 auto; }
  #homepage_signup_button:hover, #homepage_signup_button:focus, #homepage_signup_button:active {
    text-decoration: none;
    background-color: rgba(186, 198, 221, 0.33);
    color: #cbd8f0; }

#section0 {
  position: relative; }
  #section0 img {
    width: 100%;
    display: block; }
  #section0 .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    #section0 .img-inner .embed-responsive {
      margin: 4.5% 5% 0 5%;
      padding-bottom: 50.75%; }

#section1 {
  position: relative; }
  #section1 img {
    width: 100%;
    display: block; }
  #section1 .img-inner {
    position: absolute;
    top: 0;
    left: 45%;
    width: 100%;
    max-width: 55%;
    padding: 17% 5% 5% 5%;
    color: #FFF;
    font-size: 14px;
    font-weight: 200; }

#section2 {
  position: relative;
  margin-top: 8px; }
  #section2 img {
    width: 100%;
    display: block; }
  #section2 .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12% 10%;
    color: #FFF;
    font-size: 12px; }

#section3 {
  position: relative;
  margin-top: 8px; }
  #section3 img {
    width: 100%;
    display: block; }
  #section3 .img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    color: #FFF;
    font-size: 12px; }

@media all and (max-width: 420px) {
  #section1 .img-inner {
    font-size: 14px; }
 }

@media all and (min-width: 421px) and (max-width: 767px) {
  #section1 .img-inner {
    font-size: 20px; }
 }

@media all and (min-width: 421px) and (max-width: 511px) {
  #section2 .img-inner {
    font-size: 15px; }
 }

@media all and (min-width: 512px) {
  #section2 .img-inner {
    font-size: 18px; }
 }

@media all and (min-width: 768px) {
  #section1 .img-inner {
    font-size: 32px; }

  #section2 .img-inner {
    padding-top: 18%;
    padding-bottom: 18%; }
 }
