/****************/
/**** Colors ****/
/****************/
#header {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #e13333; }

#choose {
  display: block;
  width: 100%;
  margin-bottom: 12px; }

#hint-label {
  font-size: 11px;
  margin-bottom: 2px; }

#hint-field {
  height: 28px;
  width: 100%;
  border-radius: 0;
  font-size: 14px;
  padding: 0px 6px;
  color: #5B5B5B;
  border: 1px none #e13333;
  border-bottom-style: solid;
  margin-bottom: 12px; }

#submit {
  background-color: #e13333;
  border: none;
  border-radius: 3px;
  text-align: center;
  margin: 12px 33%;
  height: 48px;
  width: 36%;
  color: white;
  font-size: 13px; }
