<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>


  <% include partials/topnav %>
  <div class="container">

    <div class="main">
      <div class="content">

        <div class="titlebar">
          <a href=<%= frame.userlink %>><img src=<%= frame.userimg %>></a>
          <div class="info">
            <p class="bold"><%= frame.username %></p>
            <p id="hint_button" class="grayed">show hint</p>
            <p id="hint" style="display:none"       class="bold"><%= frame.hint %></p>

          </div>
          <p class="time"><%= frame.time %></p>
        </div>
        <div class="frame">
          <img id="frame" src=<%= frame.image %>>
        </div>

        <div class="matches">

          <% if (matches.length === 0) { %>
            <p>No matches yet! Where do you suppose it is?</p>
          <% } else { %>
            <% matches.forEach(function (match) { %>
              <div class="match clearfix">
                <img class="matchimg" src=<%= match.m_img_path %>>
                <div class="scoring">
                  <a class="upvote" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
	          <div class="score"><%= match.up_score - match.down_score %></div>
                  <a class="downvote" href="#"><span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
              </div>
            <% }); %>
          <% } %>

        </div>

      </div>
    </div>

  </div><!-- /.container -->

  <% include partials/bottomnav %>
  </body>
</html>
