<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/topnav %>

    <div class="container">
      <div class="main">


        <!--
        <div class="jumbotron">
          <h2 class="title_left">So we heard you like frames...</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560"
            height="315" src="//www.youtube.com/embed/GcyqmF6r98Q?modestbranding=0&;showinfo=0;theme=light;vq=hd720;iv_load_policy=3;rel=0;showinfo=0;"
            frameborder="0"></iframe>
          </div>
          <h2 class="title_right">...welcome to UFrame</h2>
        </div>
        -->

        <div id="section0">
          <img src="/images/wall1.jpg" />
          <div class="img-inner">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="560"
                      height="315" src="//www.youtube.com/embed/GcyqmF6r98Q?modestbranding=0;controls=0;showinfo=0;theme=light;vq=hd720;iv_load_policy=3;rel=0;showinfo=0;"
                      frameborder="0"></iframe>
            </div>
          </div>
        </div>

        <div id="section1">
          <img src="/images/phone_straight.jpg" />
          <div class="img-inner">
            <p>Welcome to UFrame</p>
          </div>
        </div>


        <div id="section2">
          <img src="/images/pillars2.jpg" />
          <div class="img-inner">
            <p style="text-align: justify;">
              UFrame is a mobile-optimized web app that allows you to compete with your friends by matching photos around the UMass Amherst campus!
            </p>
          </div>
        </div>

        <div id="section3">
          <img src="/images/lights.jpg" />
          <div class="img-inner">
            <a href="/signup" id="homepage_signup_button">Sign up now!</a>
          </div>
        </div>

      </div><!-- /.main -->
    </div><!-- /.container -->

    <% include partials/bottomnav %>

  </body>
</html>
