<!DOCTYPE html>
<html>
<% include partials/head %>
<body>

  <% include partials/topnav %>
  <% console.log("DATA: " + data); %>
  <div class="container">

    <div class="main">
      <div class="content">




        <div class="jumbotron">

          <h2 style="color:white; text-align:center;">Leaderboard<h2>

          <!--The Actual Leaderboard-->
          <table class="table table-striped">

            <tr>
              <th style="text-align: center;"><span class="glyphicon glyphicon-user" aria-hidden="true"> User</span></th>
              <th style="text-align: center;"><span class="glyphicon glyphicon-signal" aria-hidden="true"> Points</span></th>
            </tr>

            <!--Listing users in DB with highest score-->
            <% for (var i = 0; i< data.length;i++){ %>
            <tr style="text-align: center; border: 0px;">
              <td style="border:0px;"> <%= data[i].username %> </td>
              <td style="border:0px;"> <%= data[i].rank%> </td>
            </tr>
            <% } %>

          </table>

        </div>


      </div>
    </div>

  </div><!-- /.container -->

  <% include partials/bottomnav %>

</body>
</html>
