<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>

  <% include partials/topnav %>

  <div class="container">
    <div class="main">





      <!-- Bootstrap Form -->
      <form class="form-horizontal" method="post" action="/signup">
        <fieldset>

          <!-- Form Name -->
          <p class="header">Sign Up</p>
          
          <div class="signupContainer">
          <p><%= message %></p>

          <!-- Username input field-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Username: </label>
            <div class="col-md-4">
              <input id="textinput" name="username" type="text" placeholder="JohnnyAppleseed" class="form-control input-md">
              <span class="help-block"></span>
            </div>
          </div>

          <!-- E-Mail input field-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">E-Mail: </label>
            <div class="col-md-4">
              <input id="textinput" name="email" type="text" placeholder="J_Appleseed@umass.edu" class="form-control input-md">
              <span class="help-block"></span>
            </div>
          </div>

          <!-- Password input field-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password: </label>
            <div class="col-md-4">
              <input id="passwordinput" name="password" type="password" placeholder="************" class="form-control input-md">
              <span class="help-block"></span>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <button id="singlebutton" type="submit" name="submit" class="btn btn-default btn">Sign Up</button>
            </div>
          </div>
        </div>
        </fieldset>






      </form>


      </div>
    </div>

  </div><!-- /.container -->




  <% include partials/bottomnav %>

  </body>
</html>
